<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        Twitter. To się dzieje.
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">

            <ul class="list-group">
                <li class="list-group-item">Obserwuj to, co Cię interesuje</li>
                <li class="list-group-item">Dowiedz się, o czym mówią inni</li>
                <li class="list-group-item">Powiedz, co Cię interesuje</li>

            </ul>
        </div>

        <div class="col">
            <h1>Zobacz, co się dzieje na świecie!</h1>
            <h1></h1>
            <h2>Dołącz do Twittera!</h2>
            <form action="/adduserform">
                <button class="btn btn-primary" type="submit">Zarejestruj się</button>
            </form>

            <form action="/login">
                <button class="btn btn-light" type="submit">Zaloguj się</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>