<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p> Zalogowany jako: <label type="text" th:text="${username}"/></p>

<form action="/login?logout">
    <button type="submit" class="btn btn-outline-dark">Wyloguj</button>
</form>

<form action="/users" sec:authorize="hasRole('ROLE_ADMIN')">
    <button type="submit" class="btn btn-outline-success">Wszyscy użytkownicy</button>
</form>

<form th:action="@{/addpost}" method="post" th:object="${postToAdd}">
    <div class="form-group">
        <label>Co chciałbyś opublikować?</label>
        <textarea class="form-control" rows="5" th:field="*{message}"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Dodaj nowy post</button>
    <p></p>
</form>

<div class="container border border-dark" th:each="post: ${allPosts}" th:object="${post}" style="background-color: rgba(0,0,255,0.1);">
        <div class="row bg-secondary text-white">
            <div class="col-sm">
                <p>Opublikowany przez: <label th:text="${post.user}"/></p>
            </div>
            <div class="col-sm">
                <p> Utworzono: <label th:text="${post.creationDate}"/></p>
            </div>
            <div class="col-sm">
                <div class="btn-group" role="group" aria-label="Action">
                    <form th:action="@{/editpost}" method="post">
                    <th th:if="${user == post.getUser()}" sec:authorize="hasRole('ROLE_USER')" >
                        <input type="hidden" name="id" th:value="${post.id}"/>
                        <button type="submit" class="btn btn-warning btn-sm" value="remove">Edit</button>
                    </th>
                    </form>
                    <form th:action="@{/deletepost}" method="post">
                    <th th:if="${user == post.getUser()}" sec:authorize="hasRole('ROLE_USER')">
                        <input type="hidden" name="id" th:value="${post.id}"/>
                        <button type="submit" class="btn btn-warning btn-sm" value="remove">Remove</button>
                    </th>
                    </form>
                    <form th:action="@{/deletepost}" method="post">
                    <th sec:authorize="hasRole('ROLE_ADMIN')">
                        <input type="hidden" name="id" th:value="${post.id}"/>
                        <button type="submit" class="btn btn-warning btn-sm" value="remove">Remove</button>
                    </th>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <td th:text="${post.message}"></td>
        </div>
        <div class="row">
            <div class="accordion " id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#allComments"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Komentarze:
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="Komentarze"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-sm table-striped">
                                <tbody>
                                <tr th:each="comment: ${allComments}" th:if="${post.getId() == comment.getPostId()}">
                                    <td th:text="${comment.user}"></td>
                                    <td th:text="${comment.message}"></td>

                                    <div class="btn-group" role="group" aria-label="Action">
                                        <form th:action="@{/editcomment}" method="post" th:object="${comment}">
                                            <th th:if="${user == comment.getUser()}" sec:authorize="hasRole('ROLE_USER')"
                                                >
                                                <input type="hidden" name="id" th:value="${comment.id}"/>
                                                <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#exampleModalLong"
                                                        value="edit">Edit
                                                </button>
                                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Edytuj komentarz</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                               Tu wstawię textarea
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                                                <button type="submit" class="btn btn-primary">Zapisz</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </form>
                                        <form th:action="@{/deletecomment}" method="post" th:object="${comment}">
                                            <th th:if="${user == comment.getUser()}" sec:authorize="hasRole('ROLE_USER')"
                                                >
                                                <input type="hidden" name="id" th:value="${comment.id}"/>
                                                <button type="submit" class="btn btn-outline-warning btn-sm"
                                                        value="remove">
                                                    Remove
                                                </button>
                                            </th>
                                        </form>
                                        <form th:action="@{/deletecomment}" method="post" th:object="${comment}">
                                            <th sec:authorize="hasRole('ROLE_ADMIN')"
                                            >
                                                <input type="hidden" name="id" th:value="${comment.id}"/>
                                                <button type="submit" class="btn btn-outline-warning btn-sm"
                                                        value="remove">
                                                    Remove
                                                </button>
                                            </th>
                                        </form>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                            <form th:action="@{/addcomment}" method="post" th:object="${commentToAdd}">
                        <textarea class="form-control" rows="2" placeholder="Napisz komentarz..."
                                  th:field="*{message}"></textarea>
                                <input type="hidden" name="postId" th:value="${post.id}"/>
                                <button type="submit" class="btn btn-success">Opublikuj</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <p></p>
    <p></p>
    <p></p>
</div>
