<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Użytkownicy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<table class="table">
    <thead class="thead-dark">
    <tr class="table-light">
        <th scope="col">Imie</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Login</th>
        <th scope="col">Status</th>
        <th scope="col">Zablokowany do: </th>
        <th scope="col">Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <form th:action="@{/blockuser}" method="post" th:object="${user}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.status}"></td>
            <td th:text="${user.blockedDate}"></td>
            <td>
               <input type = "hidden" name = "id" th:value="${user.id}"/>
                <button type="submit" class="btn btn-danger" value="remove">Zablokuj</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>

</body>
</html>