<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Użytkownik zablokowany</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body >
<h1 th:object="${blockedUser}">Zostałeś zablokowany przez administratora. Blokada upływa <label  th:text="${blockedUser.blockedDate}"/>  </h1>

<form action="/login">
    <button class="btn btn-success" type="submit">Powrót</button>
</form>

</body>
</html>